$primary-color: #577399;
$secondary-color: #bdd5ea;
$dark-grey: #b5c0c0;
$light-grey: #d2d5d6;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial sans-serif;
  font-size: 1.2rem;
  color: #222;
}

.scoreboard-container {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.scoreboard {
  padding: 10px 0;
  height: 300px;
  width: 100%;
  max-width: 375px;
  background-color: #ececec;
  box-shadow: 0 3px 4px rgba(0,0,0,0.3);

  .inning-labels {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-bottom: 1px solid #222;
    align-items: center;
    justify-content: space-around;

    label {
      width: 25px;
    }
  }

  label:nth-child(1) {
    width: 50px;
  }
}

.score-container {
  display: flex;
  margin-top: 2px;

  .labels {
    label {
      padding: 10px 0 16px 5px;
      display: block;
    }
  }

  .scores {
    display: flex;

    .inning {
      width: 35px;
      margin: 0 1px 2px 0;

      .score {
        display: flex;
        padding: 10px 0;
        margin-bottom: 6px;
        justify-content: space-around;
        background: #fafafa;
        box-shadow: 0 3px 4px rgba(0,0,0,0.15);
      }
    }
  }
}

.header {
  background: $primary-color;
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;

  h1 {
    margin: 0 auto;
    font-size: 28px;
  }
}

.header__menu-toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: #FFF;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
  }
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0,0,0,0.4);
  transform: translate(-102%);
  display: flex;
  flex-direction: column;

  .side-nav--animateable {
    transition: transform 0.13s cubic-bezier(0,0,0.3,1);
  }
}

.side-nav--visible {
  pointer-events: auto;

  &::before {
    opacity: 1;
  }

  &.side-nav--animateable .side-nav__container {
    transition: transform 0.33s cubic-bezier(0,0,0.3,1);
  }

  .side-nav__container {
    transform: none;
  }
}

.side-nav__hide {
  position: absolute;
  right: 16px;
  top: 16px;
  background: none;
  border: none;
  color: #FFF;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.side-nav__header {
  height: 200px;
  background: $secondary-color;
  color: #FFF;
  display: flex;
  padding: 16px;
  align-items: flex-end;
  font-size: 24px;
}

.side-nav__content {
  padding-top: 32px;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  li {
    height: 48px;
    line-height: 48px;
    padding: 0 16px;

    &:hover {
      background: #CCC;
    }
  }
}

